/* Google font */

*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Noto Sans Wancho', sans-serif;

}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    gap: 32px;
    width: 145px;
    height: 56px;
    text-decoration: none;
}

.cta-pri{
    background: #6F36BC;
    border-radius: 24px;
    color: #FEFEFE;
}
.cta-sec{
    background: #F5EDFF;
    border: 1px solid #8758C7;
    color: #8758C7;
    border-radius: 24px;

}

/*  Texts*/
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
h1{
    font-size: 58px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 28px;
}
h6{
    font-size: 24px;
}
/* Body texts classes */
/* Body large */
.p-lg{
    font-size: 26px;
}
/* Body default */
.p-d{
    font-size: 22px;
}
/* Body small */
.p-sm{
    font-size: 18px;
}
header{
    height: 128px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px #DFD4EF;
    padding: 36px 120px;
    position: relative;
}
header nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.navs{
    display: flex;
    align-items: center;
    gap: 40px;
}
.m-navs{
    display: flex;
}
.m-nav-item{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    color: #444546;

}
.nav-active{
    font-weight: 700;
}
.nav-cta{
    display: flex;
    gap: 24px;
}

/* Hero section */
.hero{
    background: #FAF6FF;
    height: 727px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 100px 120px;
    
}
.hero-text{
    display: flex;
    flex-flow: column;
    gap: 32px;
    
}
.hero-text h1{
    line-height: auto;
    color: #6F36BC; 
    font-size: 52px;
}
.hero-text .btn{
    width: fit-content;
}
.hero-text .stats{
    display: flex;
    gap: 14px;
}
.stats .users,.clients{
    display: flex;
    flex-flow: column;
    font-size: 56px;
}
.stats .users span,.clients span{
    font-size: 20px;
}
.users{
    border-right: solid 2px #778086;
    padding-right: 14px;
}
.hero-img{
    width: 554px;
    height: 506px;
}
/**********Hero section ends *********/

/* New to QR code? */
.new-to-qr{
    padding: 120px 0 120px 0;
}
.new-to-qr h2,.new-to-qr p{
    text-align: center;
}

.steps{
    display: flex;
    flex-flow: row;
    gap: 60px;
    overflow-x: scroll;
    padding: 24px 120px 24px 120px;
    scrollbar-width: none;
}
.steps::-webkit-scrollbar{
    display: none;
}
.step{
    width: max-content;
    display: flex;
    flex-flow: row;
    gap: 40px;
    align-items: center;
    padding: 40px;
    background: #FDFDFD;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin-top: 52px;
}
.step .step-img{
    width: 400px;
}
.step-texts{
    display: flex;
    flex-flow: column;
    gap: 16px;
}
.step-texts .heading{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 26px;
}
.step-texts .heading .heading-text{
    color: #6F36BC;
    width: max-content;
}
.step-texts .heading .text-circle{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 66px;
    height: 66px;
    border-radius: 100px;
    background: #6F36BC;

}
.swipe{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 120px;
    margin-top: 68px;
}
/* New to QR codes ends here */

/* What we do */
.what-we-do{
    background: #FAF6FF;
    padding: 105px 120px;
    display: flex;
    flex-flow: column ;
    gap: 44px;
    overflow: hidden;
}
.what-we-do h2, .what-we-do p{
    text-align: center;
}
.what-we-do .row{
    display: flex;
    justify-content: space-between;
}
.what-we-do .row .QR-type{
    display: flex;
    flex-flow: column;
    gap: 24px;
}
.what-we-do .row .QR-type .icon{
    width: 124px;
}
.what-we-do .row .QR-type .icon-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #381B5E;
}
.what-we-do .p-lg{
    text-align: center;
    color: #565656;

}
.what-we-do .circle-1{
    position: absolute;
    width: 342px;
    height: 344px;
    border-radius: 100%;
    left: 90%;
    top: 1850px;
    background: #6F36BC;
    opacity: 0.1;
    z-index: 0;
    overflow: hidden;

}

.what-we-do .circle-2{
    position: absolute;
    width: 342px;
    height: 344px;
    border-radius: 100%;
    left: -20%;
    top: 1850px;
    background: #6F36BC;
    opacity: 0.1;
    z-index: 0;

}

.what-we-do .circle-3{
    position: absolute;
    height: 538px;
    width: 537px;   
    border-radius: 100%;
    left: -30%;
    top: 2170px;
    background: #6F36BC;
    opacity: 0.1;
    z-index: 0;

}
/* What we do ends here */


/* Review */
.review-section{
    padding: 60px;
    background: #F5EDFF;
}
.review-section h2{
    text-align: center;
    margin-bottom: 38px;
}
.reviews{
    display: flex;
    justify-content: space-between;
}
.review{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}
.review .rating{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 4px;
}
.review p{
    text-align: center;
    width: 352px;
}
.reviewer-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #6F36BC;
}

/* Get started */
.get-started{
    height: 1140px;
}
.img-get-started{
    width: 576px;
    position: relative;
    top: 100px;
    left: 200px
}
.get-started .signup{
    z-index: 2;
    position: relative;
    bottom: 400px;
    left: 700px;
    width: 594px;
    display:flex;
    padding: 0;
}

/* Footer */
footer{
    background: #160B26;
    padding: 72px 120px 65px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top .col{
    display: flex;
    flex-flow: column;
    gap: 12px;
}
.top .title{
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF
}
.top .content{
    display: flex;
    flex-flow: column;
    gap: 12px;
}
.content form{
    display: flex;
    flex-flow: column;
    gap: 24px;
    padding-top: 22px ;
}
.content form input{
    width: 292px;
    height: 42px;
    padding: 0 18px;
    /* background: #FFFFFF; */
}
.content form input.subscribe-btn{
    color: #FFFFFF;
    background: #8758C7;
}
.content .p-sm{
    color: #CFBCE9;
    text-align: center;
}
.top .footer-links{
    text-decoration: none;
    color: #CFBCE9;

}
.bottom{
    display: flex;
    flex-flow: column;
    justify-content: left;
    gap: 28px;
}
.bottom .socials{
    display: flex;
    gap: 20px;
}
.bottom .copywright{
    font-size: 24px;
    color: #CFBCE9;
}