body{
    background-color: #FAF6FF;
}
.about-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 826px;
}
.about{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

.about-img{
    width: 694px;
}
.about p{
    /* width: 1200px; */
    margin: 0 120px;
    padding: 50px;
    background: #ffffff;
    border-radius: 32px;
}
@media screen and (max-width: 1024px) {
    .about-img{
        width: 486px;
    }
    .about{
        padding: 44px;
    }
    .about p{
        margin: auto;
    }
}
@media screen and (max-width: 500px) {
    .about-main{
        height:auto;
    }
    .about{
        padding: 16px;
        gap: 8px;
    }
    .about-img{
        width: 328px;
    }
    .about p{
        margin: 0 auto;
        font-size: 14px;
        padding: 16px;
        background: #ffffff;
        border-radius: 16px;
    }
}