@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Poppins:wght@600&display=swap");

/* 
font-family: 'Lexend', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-img {
  width: 100%;
}

main {
  margin: 7em 0;
}

.container {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  padding: 1em 1em;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Get-in-touch {
  font-family: "Lexend", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.column-1 {
  width: 45%;
}

.column-2 {
  width: 45%;
}

.column-1 input,
textarea,
button {
  border-radius: 24px;
  width: 100%;
}

.column-1 input,
textarea {
  padding: 0.7em 0.5em;
  border: 1px solid Purple;
  font-size: 1.3rem;
  margin-bottom: 1em;
  resize: none;
  font-family: "Lexend", sans-serif;
}

.send-btn {
  padding: 0.75em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #5d2d9d;
  color: white;
}

.btn-text {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 900px) {
  .container {
    box-shadow: none;
    border-radius: none;
  }
  .wrapper {
    flex-direction: column;
  }

  .column-1 {
    width: 100%;
  }

  .column-2 {
    display: none;
  }
}
