@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Poppins:wght@600&display=swap");

/* 
font-family: 'Lexend', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #faf6ff;
  padding: 10em 0;
}

.forget-password-container {
  max-width: 400px;
  min-width: 310px;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 4em 2em;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.padlock {
  margin-bottom: 2em;
}

.forget-title {
  font-size: 2rem;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  color: #4a247d;
  margin-bottom: 0.5em;
}

.forget-text {
  font-size: 1.12rem;
  margin-bottom: 0.5em;
  color: #222222;
  font-family: "Lexend", sans-serif;
}

.email-address {
  display: block;
  width: 100%;
  padding: 0.75em 1em;
  border-radius: 20px;
  border: 1.5px solid #4a247d;
  margin-bottom: 2.75em;
  outline: none;
}

::placeholder {
  color: #b5bbc7;
  font-size: 1rem;
  font-weight: "Lexend", sans-serif;
}

.reset-btn {
  background-color: #6f36bc;
  color: white;
  padding: 1em 2.3em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
