@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Poppins:wght@600&display=swap");

/* 
font-family: 'Lexend', sans-serif;
font-family: 'Poppins', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #faf6ff;
  padding: 10em 0;
}

.reset-card {
  background-color: white;
  width: 60%;
  min-width: 350px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 4em 2em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

.reset-title {
  font-size: 2rem;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  color: #4a247d;
  margin-bottom: 0.5em;
}

.reset-text {
  color: #2d3748;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 2em;
  font-size: 1.12rem;
  font-family: "Lexend", sans-serif;
  text-align: left;
}

.reset-btn {
  background-color: #6f36bc;
  color: white;
  padding: 1em 2.3em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
