
.signup{
    display: flex;
    justify-content: space-between;
    padding: 108px 120px;
    align-items: center;
    
}
.signup-img{
    width: 454px;
}

.signup-form{
    padding: 80px 20px;
    background: #FFFFFF;
    box-shadow: 10px 10px 60px rgba(114, 94, 152, 0.2);
    border-radius: 24px;
    display: flex;
    flex-flow: column;
    gap: 32px;
}
.signup-form form{
    display: flex;
    flex-flow: column;
    gap: 32px;
}
.signup-form h4{
    text-align: center;
}
.signup-form form .inputs{
    display: flex;
    flex-flow: column;
    gap: 40px;
}
.signup-form form .inputs label{
    font-size: 22px;
}
.signup-form input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 18px;
    gap: 10px;
    width: 463px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #4A247D;
    border-radius: 24px;
    font-size: 22px;
}
.signup-form input::placeholder{
    color: #B5BBC7;

}
.signup-form .btns{
    display: flex;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    
}
.signup-form .btns input,
.signup-form .btns a.create-btn{
    color: #FFFFFF;
    background-color: #4A247D;
    width: 163px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.name-div,.emailOrPhone-div,.password-div{
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.tos-div{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: auto;
}
.tos-div input{
    width: 20px;
    height: 20px;
}
.tos-div input:checked{
    accent-color: #4A247D;
    
}
.signup-form .btns a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 18px;
    gap: 10px;
    width: 245px;
    height: 48px;
    border-radius: 24px;
    background: #F5EDFF;
    text-decoration: none;
    color: #4A247D;
    font-size: 16px;
    font-weight: 600;
}
.signup-form p{
    text-align: center;
}
.signup p a{
    font-weight: 600;
    text-decoration: none;
    color: #4A247D;
}
@media screen and (max-width: 1000px ) {
    .signup-img{
        display: none;
    }
    .signup{
        justify-content: center;
    }
}
/* Mobile responsiveness */
@media screen and (max-width: 768px ) {
    .signup{
        padding: 24px 0;
        width: 100%;
    }
    .signup-img{
        display: none;
    }
    .signup-form{
        padding: 24px 16px;
        box-shadow: 0 0 0;
        justify-content: center;
        width: 100%;
    }
    .signup-form form .inputs{
        gap: 24px;
    }
    .name-div label,
    .emailOrPhone-div label,
    .password-div label{
        font-size: 18px !important;
    }
    .name-div input,
    .emailOrPhone-div input,
    .password-div input{
        display: flex;
        flex-flow: column;
        gap: 8px;
        width: auto;
        font-size: 18px;
    }
    .get-started .signup-form .tos-div{
        width: 100%;
    }
    .get-started .signup-form .tos-div input{
        width: 20px;
    }
    .signup-form .btns{
        flex-flow: column;
        gap: 8px;
    }
    .signup-form .btns a,
    .signup-form .btns a.create-btn{
        width: 100%;
    }
}